* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

i,
svg {
    pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}

.kick-pad {
    background: rgb(168, 23, 144);
}

.snare-pad {
    background: rgb(74, 201, 15);
}

.hihat-pad {
    background: rgb(11, 101, 235);
}

.kick-pad.active {
    background: rgb(255, 7, 214);
}

.snare-pad.active {
    background: rgb(109, 253, 42);
}

.hihat-pad.active {
    background: rgb(0, 153, 255);
}

.sequencer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hihat-track,
.kick-track,
.snare-track {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    margin-top: 5rem;
}

.kick,
.snare,
.hihat {
    display: flex;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
}

.controls button {
    padding: 1rem;
    border: none;
    background: rgba(77, 3, 252, 0.144);
    color: rgb(16, 67, 236);
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s all ease;
}

.pad {
    transition: 0.5s all ease;
}

.play {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: rgb(10, 174, 250);
    color: rgb(6, 66, 156);
    border: none;
    cursor: pointer;
    margin-top: 3rem;
}

select {
    padding: 1rem;
    font-size: 1rem;
    margin-left: 1rem;
}

h1 {
    margin-right: 2rem;
}

.mute.active {
    background: rgb(0, 255, 242);
}

.tempo {
    margin: 3rem;
    width: 30%;
}

.tempo-slider {
    padding: 0.2rem;
    -webkit-appearance: none;
    margin: 1rem 0rem;
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, 0.89);
    cursor: pointer;
    border-radius: 1rem;
}

.tempo p {
    font-size: 1.5rem;
    margin: 2rem;
    text-align: center;
}

@keyframes playTrack {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}
