* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    position: relative;
}

main {
    position: absolute;
}

#logo {
    color: #ffffff;
    font-family: "Abril Fatface";
}

.nav-header {
    min-height: 10vh;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000000;
    width: 80%;
    margin: auto;
    padding: 2rem 0rem;
    z-index: 2;
    position: relative;
}

.line1,
.line2,
.line3 {
    width: 3rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: #ffffff;
    pointer-events: none;
}

.slide {
    min-height: 100vh;
    margin: 0 auto 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    background: #000000;
}

.hero-desc {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    flex-basis: 25rem;
    padding-left: 5rem;
    position: relative;
}

.hero-img {
    position: relative;
    flex: 1;
    flex-basis: 25rem;
    overflow: hidden;
}

.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fashion-span {
    color: rgb(240, 140, 59);
}
.mountain-span {
    color: rgb(39, 145, 245);
}
.hike-span {
    color: rgb(162, 25, 216);
}

.hero-desc h2 {
    font-family: "Abril Fatface";
    font-size: 2.5rem;
}

.hero-desc p {
    padding: 3rem 0rem;
    font-size: 1rem;
    color: rgb(238, 227, 227);
}

.explore {
    padding: 1rem 2rem;
    background: none;
    border: none;
    color: white;
    border: 1px solid white;
    font-size: 1rem;
    text-decoration: none;
    align-self: flex-start;
    cursor: pointer;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    opacity: 1;
    clip-path: circle(50px at 100% -10%);
    -webkit-clip-path: circle(50px at 100% -10%);
}

.burger {
    cursor: pointer;
}

.nav-links {
    font-size: 3rem;
    flex-basis: 30rem;
}

.nav-links h3 {
    padding: 3rem 0rem;
}

.contact {
    flex-basis: 30rem;
}

.contact h2 {
    font-size: 3rem;
    padding: 2rem 0rem;
}

.contact p {
    font-size: 1.5rem;
    line-height: 2rem;
}

.reveal-img,
.reveal-text {
    position: absolute;
    width: 100%;
    height: 150%;
    background: #000000;
    left: 0;
    top: -15%;
}

.cursor {
    width: 3rem;
    height: 3rem;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    transition-property: background, transform;
    transform-origin: 75% 75%;
}

.scrollmagic-pin-spacer {
    position: static !important;
}

.cursor.nav-active {
    background: rgb(226, 108, 255);
    transform: scale(2);
}

.cursor.exp-active {
    background: rgb(112, 134, 255);
    transform: scale(1.5);
}

.cursor-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1rem;
    transform: translate(-50%, -50%);
}

.title {
    position: relative;
    overflow: hidden;
}

.title-swipe {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    mix-blend-mode: darken;
    transform: translateY(100%);
}

.t-swipe1 {
    background: rgb(39, 145, 245);
}
.t-swipe2 {
    background: rgb(162, 25, 216);
}
.t-swipe3 {
    background: rgb(240, 140, 59);
}

body.hide {
    overflow: hidden;
}

.fashion1,
.fashion2,
.fashion3 {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    color: white;
    margin-top: 5rem;
    flex-wrap: wrap;
    position: relative;
}

.fashion-img {
    height: 90vh;
    flex-basis: 30rem;
}

.fashion-text {
    flex: 1;
    position: relative;
    flex-basis: 25rem;
}

.fashion-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fashion-text h1 {
    font-size: 6rem;
    padding: 5rem 0rem;
}

.fashion1 h1 {
    color: rgb(240, 140, 59);
}

.fashion2 h1 {
    color: cornflowerblue;
}

.fashion3 h1 {
    color: rgb(226, 108, 255);
}

.fashion-text p {
    font-size: 2rem;
    padding: 2rem 2rem 0rem 0rem;
    margin-bottom: 10rem;
}

.fashion-nr {
    position: absolute;
    font-size: 10rem;
    right: 50%;
    bottom: 0;
    color: white;
    opacity: 0.2;
}

.swipe {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
}

.swipe1 {
    background: rgb(160, 169, 255);
    z-index: 5;
}

.swipe2 {
    background: rgb(250, 132, 181);
    z-index: 4;
}

.swipe3 {
    background: rgb(247, 183, 111);
    z-index: 3;
}

@media screen and (max-width: 1024px) {
    main {
        width: 100%;
        margin: 0;
    }
    .slide {
        display: block;
        width: 100%;
        text-align: center;
    }

    .hero-img {
        padding-top: 4rem;
    }

    .hero-desc {
        padding: 0;
    }

    .hero-desc h2 {
        font-size: 1.6rem;
        padding: 1rem 0rem;
    }

    .hero-desc p {
        padding: 2rem 1rem;
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: center;
    }

    .explore {
        width: 60%;
        margin: auto;
    }

    .detail-slide {
        width: 100%;
        text-align: center;
    }

    .fashion-text p {
        margin-bottom: 5rem;
        padding: 0;
    }

    .fashion-text h1 {
        margin: 2rem 0rem;
    }

    .fashion-nr {
        font-size: 8rem;
    }

    .nav-bar {
        display: block;
    }

    .nav-links {
        font-size: 2rem;
        text-align: center;
    }

    .contact h2 {
        font-size: 3rem;
        text-align: center;
    }

    .contact p {
        font-size: 1.2rem;
        padding: 2rem;
        text-align: center;
    }
}
